<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<% provide(:title, "Login") %>
<div class="bg-primary full-page row no-gutters justify-content-center align-items-center">
  <div class="sign-up-container bg-white text-center shadow-lg rounded p-3 m-5">

    <%= render 'shared/logo_dark', logo_text: "RiseUp" %>
    <p>Want to get together and join us in the right for <br> a free world? Sign in now, and get started!</p>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= bootstrap_form_tag(url: login_path) do |f| %>

          <%= f.text_field :user_name, placeholder: "User name", hide_label: true, input_group_class: 'input-group-lg' %>
          <%= f.password_field :password, placeholder: "Password", hide_label: true, input_group_class: 'input-group-lg' %>
          <%= f.check_box :remember_me, label: "Remember me on this device"%>
          <%= f.submit "Log in", class: "btn btn-secondary btn-lg w-100 mt-1" %>
        <% end %>

        <p class="mt-3">New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>
</div>
