<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<%= render 'shared/navbar_dark' %>
<div class="container py-5">
  <h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :profile, "Email" %>
      <%= f.text_field :profile, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.phone_field :phone, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <%= f.label "Update Profile Photo (Optional)"  %>
      <%= f.file_field :avatar, input_group_class: 'input-group-lg' %>
      <br>
      <br>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
</div>
