<% provide(:title, "Signup") %>
<div class="bg-primary full-page row no-gutters justify-content-center align-items-center">
<div class="sign-up-container bg-white text-center p-3 m-5">

  <%= render 'shared/logo_dark', logo_text: "Sign Up" %>
  <p>Sign up here and rise up with your <br /> fellow protestors!</p>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= bootstrap_form_for(@user) do |f| %>
        <%= f.text_field :user_name, placeholder: "User name", hide_label: true, input_group_class: 'input-group-lg' %>
        <%= f.telephone_field :phone, placeholder: "Phone Number", hide_label: true, input_group_class: 'input-group-lg' %>
        <%= f.email_field :email, placeholder: "Email", hide_label: true, input_group_class: 'input-group-lg' %>
        <%= f.password_field :password, placeholder: "Password", hide_label: true, input_group_class: 'input-group-lg' %>
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", hide_label: true, input_group_class: 'input-group-lg' %>
        <%= f.submit "Create my account", class: "btn btn-lg btn-secondary mt-1 mb-1 w-100" %>
      <% end %>

      <div class="font-weight-lighter">
        <p>By signing up here you agree to our<br>
        Terms and Conditions.</p>
      </div>

    </div>
  </div>
  </div>
</div>
