<% provide(:title, @user.user_name) %>
<%= render 'shared/navbar_dark' %>


  <div>
    <section class="user_info py-1 pl-1">
      <h1>
        <%= gravatar_for @user %>
        <br>
        <%= @user.user_name %>
      </h1>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </section>
  </div>


  <div class="container">
    <% if current_user.events.length > 0 %>

      <div class='pl-3 pt-4 pb-3'>
        <h1>Events that I am attending</h1>
      </div>

      <% if UserEventRelationship.where(role_type_id: '1', user_id: current_user.id ).length > 0 %>
        <div class="card-deck">
          <% UserEventRelationship.where(role_type_id: '1', user_id: current_user.id ).each do |relationship| %>
            <div class='col-sm-3'>
              <div class="card text-black bg-light mb-3">
                <img class="card-img-top" src = '' alt="TO DO: add image src" >
                <div class="card-body">
                  <h2 class="card-title"><%= relationship.event.name %></h2>
                  <p class="card-text"><%= relationship.event.location %></p>
                  <p class="card-text"><%= link_to 'Event Page', event_path(relationship.event), class: "btn-primary btn" %></p>
                </div>
              </div>

          <% end %>
          </div>


      <% else %>
        <p>You have not signed up to attend any events yet</p>
      <% end %>
      </div>

      </div>


      <div class="container">

      <div class='pl-3 pt-4 pb-3'>
          <h1>Events that I am an organizer for</h1>
        </div>

      <% if UserEventRelationship.where(role_type_id: '0', user_id: current_user.id ).length > 0 %>

        <div class="card-deck">
          <% UserEventRelationship.where(role_type_id: '0', user_id: current_user.id ).each do |relationship| %>
            <div class='col-sm-3'>
              <div class="card text-black bg-light mb-3">
                <img class="card-img-top" src = '' alt="TO DO: add image src" >
                <div class="card-body">
                  <h2 class="card-title"><%= relationship.event.name %></h2>
                  <p class="card-text"><%= relationship.event.location %></p>
                  <p class="card-text"><%= link_to 'Event Page', event_path(relationship.event), class: "btn-primary btn" %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>You have not organized any events yet</p>
      <% end %>


    <% else %>
      <p>You have not signed up for or created any events yet</p>
    <% end %>


  </div>




<!--</div>-->
