<h1 class='display-4 text-primary'>Search by Filter</h1>

<!--Event Details -->

<%= bootstrap_form_tag url: '/browse_results', data: {controller: 'places'}, method: :get do |f| %>

  <h3>I'm looking for a protest in...</h3>
  <%= f.text_field :location, default: 'Any Location', placeholder: "Any Location", hide_label: true, input_group_class: 'input-group', data: {target: "places.field", action: "keydown->places#keydown"} %>
  <%= f.hidden_field :latitude, step: :any, data: {target: "places.latitude"} %>
  <%= f.hidden_field :longitude, step: :any, data: {target: "places.longitude"} %>
  <h3>I want to rise up for...</h3>
  <%= f.collection_select :tags, Tag.all, :id, :name, {placeholder: "Tag Id", include_hidden: false, hide_label: true, required: true}, {multiple: false, class: "selectpicker"} %>

  <h3>The date which best suits me is...</h3>


  <%= f.select :date, [['Any Day', 'Any Day'], ['Today', 'Today'], ['Tomorrow', 'Tomorrow'], ['This Week', 'This Week'],
                       ['Next Week', 'Next Week'], ['This Month', 'This Month'], ['Next Month', 'Next Month']], {hide_label: true},
               {class: "selectpicker"} %>


  <%= f.submit "Browse", class: "btn btn-primary btn-lg text-white" %>
<% end %>
      
  



    