<%= provide(:title, 'home') %>
<%= render 'shared/navbar_dark' %>


<div data-controller="location">
  <% if current_user %>
    <h1>
      Welcome to Protest Planner
    </h1>
    <%= link_to "Log Out", logout_path, method: :delete, class: "btn-primary btn" %>
    <%= link_to 'Browse Events', '/browse', class: "btn-primary btn" %>
    <% if current_user.events.length > 0 %>
    <h2>My Events</h2>
    <h3>Events that I am attending</h3>
    <% if UserEventRelationship.where(role_type_id: '1', user_id: current_user.id ).length > 0 %>
      <% UserEventRelationship.where(role_type_id: '1', user_id: current_user.id ).each do |relationship| %>
        <table>
        <tr>
            <td><p><%= relationship.event.name %></p></td>
            <td><%= link_to 'Event Page', event_path(relationship.event), class: "btn-primary btn" %></td>
          </tr>
        </table>
      <% end %>
    <% else %>
        <p>You have not signed up to attend any events yet</p>
    <% end %>

    <h2>Events that I am an organizer for</h2>
    <% if UserEventRelationship.where(role_type_id: '0', user_id: current_user.id ).length > 0 %>
      <% UserEventRelationship.where(role_type_id: '0', user_id: current_user.id ).each do |relationship| %>
        <table>
        <tr>
            <td><p><%= relationship.event.name %></p></td>
            <td><%= link_to 'Event Page', event_path(relationship.event), class: "btn-primary btn" %></td>
          </tr>
        </table>
      <% end %>
    <% else %>
      <p>You have not organized any events yet</p>
    <% end %>

  <% else %>
      <p>You have not signed up for or created any events yet</p>
  <% end %>

    <h1>Nearby Events</h1>
    <% if (get_nearby_events_within_radius(5) + get_nearby_events_within_radius(5)).length > 0 %>

      <% get_nearby_events_within_radius(5) && get_nearby_events_within_radius(5).each do |event| %>
        <table>
          <tr>
            <td><p><%= event.name %></p></td>
            <td><%= link_to 'Event Page', event_path(event), class: "btn-primary btn" %></td>
          </tr>
        </table>
      <% end %>
    <% else %>
      <p>There are no nearby events currently</p>
    <% end %>
    Logged in as <%= current_user.user_name %>

    

  <% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
  <% end %>

  <p id="notice"><%= notice %></p>

</div>
