<div class='col-sm-6'>

    <!- card body -->
    <% @my_event = locals[:event] %>
    <div class="card text-black bg-light mb-4 ">
        <% if @my_event.picture.attached? %>
            <% @picture = url_for(@my_event.picture) %>
        <% else %>
            <% @picture = @my_event.tags.first['photo_url'] %>
        <% end %>

        <!-- image -->
        <div class="card-img-top">
            <%= image_tag(@picture, class: "w-100 container-image p-2") %> 
        </div>

        <!-- text -->
        <div class="card-body">
            <h2 class="card-title"><%= @my_event.name %></h2>
            <h5 class="card-text"><%= DateTime.parse(@my_event.date_from.to_s).strftime("%A, %d %b %Y %l:%M %p")%></h5>
            <p class="card-text"><%= @my_event.location %></p>
            <p class="card-text"><%= link_to 'Event Page', event_path(@my_event), class: "btn-primary btn" %></p>
        </div>
    </div>
</div>