<h1 class="display-4"><%= section_title %></h1>
<% unless events.nil? && events.empty? %>
  <div class="card-deck row">
    <% events.each do |event| %>
      <div class="col-lg-4 col-md-6 col-xs-12 mb-4 d-flex">
        <div class="card flex-fill text-black bg-light p-0">
        <%= image_tag(get_event_image_or_default(event), class: "card-img-top") %>
        <div class="card-body">
          <h2 class="card-title"><%= event.name %></h2>
          <h5 class="card-text"><%= get_full_date_and_time(event.date_from) %></h5>
          <p class="card-text "><%= event.location %></p>
        </div>
          <div class="card-footer">
            <%= link_to 'Event Page', event_path(event), class: "text-white btn-primary btn" %>
          </div>
      </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3><%= no_events_message %></h3>
<% end %>