

<div class="card border-0" >
  <div class="card-header border-0 bg-white" >
    <h1 class="display-4">Events I am attending</h1>

  </div>
  <div class="card-body border-0">
  <% if UserEventRelationship.where(role_type_id: '1', user_id: current_user.id ).length > 0 %>
    <div class="card-deck ">
        <% UserEventRelationship.where(role_type_id: '1', user_id: current_user.id ).each do |relationship| %>
            <div class='col-sm-6'>
                <div class="card text-black bg-light mb-4">
                    <% if relationship.event.picture.attached? %>
                        <% @picture = url_for(relationship.event.picture) %>
                    <% else %>
                        <% @picture = relationship.event.tags.first['photo_url'] %>
                    <% end %>
                    <div class="card-img-top"><%= image_tag(@picture, class: "w-100 container-image p-2") %> </div>
                    <div class="card-body">
                        <h2 class="card-title"><%= relationship.event.name %></h2>
                        <h5 class="card-text"><%= DateTime.parse(relationship.event.date_from.to_s).strftime("%A, %d %b %Y %l:%M %p")%></h5>
                        <p class="card-text"><%= relationship.event.location %></p>
                        <p class="card-text"><%= link_to 'Event Page', event_path(relationship.event), class: "btn-primary btn" %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <h3>You have not signed up to attend any events yet...</h3>
<% end %>
  </div>
</div>

