<h1 class="display-4"><%= section_title %></h1>
<% unless events.empty? %>
  <div class="row">
    <% events.each do |event| %>
      <div class="col-xl-4 col-md-6 col-xs-12">
        <div class="card text-black bg-light mb-4 p-0">
        <div class="card-img-top"><%= image_tag(get_event_image_or_default(event), class: "w-100 container-image p-2") %> </div>
        <div class="card-body">
          <h2 class="card-title"><%= event.name %></h2>
          <h5 class="card-text"><%= DateTime.parse(event.date_from.to_s).strftime("%A, %d %b %Y %l:%M %p")%></h5>
          <p class="card-text "><%= event.location %></p>
          <p class="card-text"><%= link_to 'Event Page', event_path(event), class: "btn-primary btn" %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% else %>
  <h3><%= no_events_message %></h3>
<% end %>