<%= provide(:title, 'home') %>

<div data-controller="location">
  <% if current_user %>
    <%= render 'shared/navbar_dark' %>
    <% if current_user.events.length > 0 %>
      <!-- find events user is an attending for -->
      <%= render 'events/eventsattending' %>
      <!-- find events user is an organizer for -->
      <%= render 'events/eventsorganized' %>
    <% else %>
      <div class='container mb-6'>
        <%= render 'shared/browse' %>
      </div>
    <% end %>
    <%= render 'events/nearbyevents' %>
    <div class='ml-3 mt-3'>
      Logged in as <%= current_user.user_name %>
    </div>

  <% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
  <% end %>
  <p id="notice"><%= notice %></p>
</div>


