<%= render 'shared/navbar_dark' %>

<h1 class = "font-weight-bold mt-3 ml-4"> Manage Event Page </h1>

<div class = "fixed-bottom ml-3 pb-4">
    <br>
    <%= link_to 'Destroy Event', event_path(@event), method: :delete, class: "btn-info btn mr-2 btn-danger" %>
</div>

<!-- edit event & see attendees and events -->

<div class="row justify-content-between no-gutters">
  <div class="container-xl mt-5">
    <div class="container-fluid">
      <div class="row">


        <div class="col-md-6">
          <div class="card" style="width: 30rem;">
            <div class="card-header font-weight-bold bg-light">Attendees</div>
              <div class="card-body">
                <h5 class="card-title">Attendees</h5>
                <h5 class="card-text font-weight-light">
                    <!-- attending: </b><%= UserEventRelationship.where(role_type_id: '1', user_name: current_user.user_name).display%>
                     </b><%= current_user.user_name %></h2> -->
                    <p>Below are the attendees for this event</p>
                    <% UserEventRelationship.where(event_id: @event, role_type_id: '1').each do |user| %>
                    <p><%=User.find(user.user_id).user_name%>
                    <%end%>
                  </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 30rem;">
            <div class="card-header font-weight-bold bg-light">Organizers</div>
              <div class="card-body">
                <h5 class="card-title">Organizers</h5>
                <h5 class="card-text font-weight-light">
                    <!-- attending: </b><%= UserEventRelationship.where(role_type_id: '1', user_name: current_user.user_name).display%>
                     </b><%= current_user.user_name %></h2> -->
                    <p>Below are the organizers for this event:</p>
                    <% UserEventRelationship.where(event_id: @event, role_type_id: '0').each do |user| %>
                    <p><%=User.find(user.user_id).user_name%>
                    <%end%>
                </h5>
              </div>
          </div>
        </div>

       </div>
     </div>
  </div>
</div>

  <div class="container text-center">

    <form accept-charset="UTF-8" action="/send_notification" method="post">

      <label for="content">Compose the message: </label>
      <input id="content" name="content"
             type="text" />
      <input type="hidden" name="event_id" value= <%= @event.id %>>

      <input class="btn btn-primary" type="submit">Send Notification to Members</button>
    </form>
  </div>

</div>
