<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<div data-controller="location">
  <%= content_tag :div, data: {controller: "maps", action: "google-maps-callback@window->maps#initMap", maps_event: @event} do %>
    <div data-target="maps.topNav">
      <%= render 'shared/navbar_dark' %>
    </div>
    <div class="position-relative">
      <div class="position-relative" data-target="maps.map" data-action="resize@window->maps#resizeMap" style="height: 10vh">
      </div>
      <div class="position-absolute border m-3 bg-primary d-flex justify-content-center align-items-center add-marker" data-target="maps.addMarkerButton, #addMarker" data-toggle="modal">
        <%= fa_icon('map-marker-alt', class: "text-white", size: '2x') %>
      </div>
    </div>
    <div class="row no-gutters w-100 bg-primary justify-content-around" data-target="maps.bottomNav">
      <div class="col-6 border-right text-center d-flex justify-content-center align-items-center">
        <h2>
          <%= link_to event_path(@event), class: "text-white text-decoration-none" do %>
            <%= fa_icon('users') %>
            Event Details
          <% end %>
        </h2>
      </div>
      <div class="col-6 border-left text-center d-flex justify-content-center align-items-center">
        <h2 class="text-white"><%= fa_icon('edit', class: "text-white") %>Edit Map</h2>
      </div>
    </div>
    <div
      class="modal fade"
      id="addMarker"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addMarkerLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Map Marker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="row d-flex flex-wrap justify-content-around align-items-start">
              <div class="col-4 d-flex text-center flex-column justify-content-center align-items-center">
                <%= far_icon('flag', class: "text-primary fa-clickable", size: '5x', id: "rally_point", data: { action: "click->maps#addMarker"} ) %>
                <p class="font-weight-bolder mt-1">Rally Point</p>
              </div>
              <div class="col-4 d-flex text-center flex-column justify-content-start align-items-center">
                <i class="fi flaticon flaticon-5x flaticon-policeman text-info fa-clickable" id="police" data-action="click->maps#addMarker"></i>
                <p class="font-weight-bolder mt-1">Police</p>
              </div>
              <div class="col-4 d-flex text-center flex-column justify-content-center align-items-center">
                <%= far_icon('angry', class: "text-danger fa-clickable", size: '5x', id: "counter_protestors", data: { action: "click->maps#addMarker"}) %>
                <p class="font-weight-bolder mt-1">Counter Protestors</p>
              </div>
              <div class="col-4 d-flex text-center flex-column justify-content-center align-items-center">
                <%= fa_icon('ban', class: "text-secondary fa-clickable", size: '5x', id: "road_blocked", data: { action: "click->maps#addMarker"}) %>
                <p class="font-weight-bolder mt-1">Road Blocked</p>
              </div>
              <div class="col-4 d-flex text-center flex-column justify-content-center align-items-center">
                <%= fa_icon('hand-paper', class: "text-danger fa-clickable", size: '5x', id: "end",  data: { action: "click->maps#addMarker"}) %>
                <p class="font-weight-bolder mt-1">End Marker</p>
              </div>
              <div class="col-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

