<%= provide(:title, 'results') %>
<%= render 'shared/navbar_dark' %>


<div class="row justify-content-center no-gutters">
<div class="container-xl mt-5">


<div class='m-3'>
    <h1 class='display-4 text-primary'>Filter Results</h1>

    <%if @results.length == 1 %>
        <h3><%=@results.length%> result</h3>
    <% else %>
        <h3><%=@results.length%> results</h3>
    <% end %>

    <%= link_to 'Back to Last Search', :back, class: 'text-secondary' %>
    <br>
    <%= link_to 'Back to Browse', browse_filter_path, class: 'text-secondary' %>
</div>
<br>


<% if @results != nil %>
        <div class="card-deck">
            <% @results.uniq.sort_by(&:date_from).each do |event| %>
                <div class='col-sm-4'>
                    <div class="card text-black bg-light mb-4">
                        <% if event.picture.attached? %>
                            <% @picture = url_for(event.picture) %>
                        <% else %>
                            <% @picture = event.tags.first['photo_url'] %>
                        <% end %>
                        <div class="card-img-top">
                            <%= image_tag(@picture, class: "w-100 h-50 container-image p-2") %> 
                        </div>
                        <div class="card-body">
                        <h2 class="card-title"><%= event.name %></h2>
                        <h2 class="card-title"><%= (event.date_from).to_s[0...10] %></h2>
                        <p class="card-text"><%= event.location %></p>
                        <p class="card-text"><%= link_to 'Event Page', event_path(event), class: "btn-primary btn" %></p>
                        </div>
                    </div>
                 </div>
            <% end %>
        </div>
<%end%>
</div>
</div>