<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

<%= render 'shared/navbar_light' %>
<div class="w-100 bg-light position-relative">
  <% if @event.picture.attached? %>
    <%= image_tag(url_for(@event.picture), class: "w-100 background-image") %>
  <% else %>
    <%= image_pack_tag(get_event_tag_photo(@event), class: "w-100 background-image") %>
  <% end %>
  <div class="bg-light background d-none d-sm-block"></div>
  <!--Event Details -->
  <div class="p-0 bg-white event-container">
    <!--Image and Title-->
    <div class="row no-gutters h-25">
      <div class="col-md-8">
        <% if @event.picture.attached? %>
          <%= image_tag(url_for(@event.picture), class: "w-100 container-image") %>
        <% else %>
          <%= image_pack_tag(get_event_tag_photo(@event), class: "w-100 container-image") %>
        <% end %>
      </div>
      <div class="col-md-4 bg-light">
        <div class="ml-2">
          <h1 class="display-4 mt-1 mb-0"><%= get_date_month_short(@event.date_from, true) %></h1>
          <h1 class="display-4 m-0"><%= get_date_day_number(@event.date_from) %></h1>
          <h1 class="font-weight-bold"><%= @event.name %></h1>
          <!--TODO: Display Organizer Name/organization here-->
        </div>
      </div>
    </div>
    <!--Share, Map, and Register for Desktop & iPad-->
    <div class="d-none d-sm-block">
      <div class="row justify-content-around no-gutters border-top border-bottom p-2">
        <div class="col-sm row no-gutters align-items-center">
          <div data-controller="clipboard" data-action="click->clipboard#copy_current_link" id="url" data-controller="clipboard-cop" data-toggle="tooltip" title="Copy to clipboard" data-placement="top" class="d-flex cursor-pointer">
            <%= fa_icon('share', class: "share-icon p-2") %> <h4 class="mb-0 ml-1">Share Event</h4>
          </div>
        </div>
        <div class="col-sm row no-gutters align-items-center justify-content-end">
          <% if correct_editor(current_user, @event) %>
            <%= link_to 'Manage Protest', manage_event_path(:event_id => @event.id), class: "btn-light btn mr-2" %>
          <% else %>
            <%= button_to 'Apply to be an Organizer', "/apply_organizer" + "?event_id=#{@event.id}", class: "btn-info btn mr-2", data: {disable_with: 'loading...' } %>
            <%= display_register_or_unregister_button(@event) %>
          <% end %>

          <%= link_to 'View Map', map_path(@event), class: "btn-light btn ml-2" %>
        </div>
      </div>
    </div>

    <!--Description, Date and Time, and Location-->
    <div class="row no-gutters justify-content-center mt-3 mb-lg-3">
      <div class="row w-100 no-gutters justify-content-around ml-2 mr-2">
        <div class="col-md-7">
          <h2>Description</h2>
          <p><%= !@event.description.blank? ? @event.description : generate_description(@event) %></p>
        </div>
        <div class="col-md-3">
          <h2>Date and Time</h2>
          <p class="m-0"><%= get_full_date(@event.date_from) %></p>
          <p class="m-0"><%= get_full_time(@event.date_from) %></p>
          <div title="Add to Calendar" class="addeventatc mt-3 mb-3">
              Add to Calendar
              <span class="start"><%= @event.date_from %></span>
              <span class="end"><%= @event.date_to %></span>
              <span class="title"><%= @event.name %></span>
              <span class="description"><%= @event.description %></span>
              <span class="location"><%= @event.location %></span>
          </div>
        </div>
        <div class="col-md-11">
          <h2>Tags</h2>
          <% get_tags(@event).each do |tag| %>
            <span class="badge bagde-pill badge-primary text-white"><p class="m-0 font-weight-bolder"><%= tag %></p></span>
          <% end %>
        </div>
      </div>
      <div class="d-sm-none position-sticky mt-2 w-100" style="bottom: 0">
        <div class="d-flex flex-column no-gutters align-items-center border-top bg-light">
          <%= display_register_or_unregister_button(@event) %>
          <%= link_to 'View Map', map_path(@event), class: "btn-info btn w-75 mb-2 mt-2" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--Share, Map, and Register for Mobile-->