<%= render 'shared/navbar_light' %>
<p id="notice"><%= notice %></p>
<div class="row test" style="background-image: url(<%= get_event_image_or_default(@event) %>); height: 50vh; background-size: cover; filter: blur(2px) brightness(90%);
    -webkit-filter: blur(8px) brightness(90%); background-position: center bottom">
</div>

<h1><%= @event.name %></h1>
<p>
  <%= image_tag(get_event_image_or_default(@event), width: 200) %>
</p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>